<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New sandwich</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/app.css">  <!-- because you have app.use(express.static("public")); in your index.js -->
</head>
<body>
  <form action="/sandwiches" method="POST">
    <input type="text" name="sandwich[name]" placeholder="What's your sammich?">
    <button>Send Request</button>
  </form>

  <script src="../bower_components/jquery/jquery.js"></script>

  <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>